{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "defaults",
            "ie 11"
          ],
          "uglify": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
