# Don't publish these files and folders
/.idea/
/.github/
/examples/
/docs/
/test/
/__test__/
/coverage/

.babelrc
.editorconfig
.gitattributes
/.gitignore
.npmignore
.travis.yml

npm-shrinkwrap.json
package-lock.json
yarn.lock

webpack.config.dev.js
webpack.config.js
