# Don't publish these files and folders
/.idea/
/.github/
/examples/
/docs/
.babelrc
bower.json
npm-shrinkwrap.json
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
webpack.config.dev.js
webpack.config.js
